#ifndef ENVIRONMENT_H
#define ENVIRONMENT_H

#define SSID "My SSID"
#define WIFI_PASS "My Password"
#define MQTT_SERVER "server.com"
#define MQTT_USER "username"
#define MQTT_PASS "pass"
#define MQTT_PORT 123546
#define TS_CHANNEL_ID 12834
#define TS_API_KEY "SPECIAL_API_KEY"

#endif
